.banner-image-content {
    /*background-color: #f7f7f7;*/
    /*background-color: #0e7ac2;*/
    background-color: #0d3e7e;
    height: 45vh;
}

.banner-image {
    width: 50%;
    height: 100%;
}

.banner-description {
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
