@import url('https://fonts.googleapis.com/css2?family=Anton&family=Bungee&family=Poppins:wght@200;400&display=swap');

:root {
  --shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 100vh;
}

html, body {
  min-height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-1 {
  flex: 1;
}
.size-8 {
  font-size: 8px;;
}
.size-10 {
  font-size: 10px;;
}
.size-12 {
  font-size: 12px;
}
.size-14 {
  font-size: 14px;
}
.size-16 {
  font-size: 16px;
}
.size-18 {
  font-size: 18px;
}
.size-20 {
  font-size: 20px;
}
.size-22 {
  font-size: 22px;
}
.size-24 {
  font-size: 24px;
}
.size-26 {
  font-size: 26px;
}
.size-28 {
  font-size: 28px;
}
.size-30 {
  font-size: 30px;
}
.size-32 {
  font-size: 32px;
}
.size-34 {
  font-size: 34px;
}
.size-36 {
  font-size: 36px;
}
.size-38 {
  font-size: 38px;
}
.size-40 {
  font-size: 40px;
}

.separator {
  height: 60px;
}

.primary-box-shadow {
  box-shadow: var(--shadow);
}


.btn-custom {
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  transition: all;
  transition-duration: 300ms;
  transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
  font-weight: bold;
  outline: none;
  border: 1px solid transparent;
}

.btn-custom-md {
  font-size: 14px;
}

.btn-custom-lg {
  font-size: 16px;
}

.btn-custom-primary {
  background-color: #1866A9;
  color: white;
}

.btn-custom-primary:hover {
  background-color: #155185;
}

.btn-custom-secondary {
  background-color: #f5cd1c;
  color: black;
}

.btn-custom-secondary:hover {
  background-color: #d3a91e;
}

.btn-custom-text {
  background-color: transparent;
  color: #1866A9;
}

.btn-custom-text:hover {
  background-color: #5cb5ff7a;
}